#page.site {
    width: 100vw;
}


@media screen and (max-width: $breakpoint-sm-width) {
    body {
        overflow-x: hidden;
    }
}

// when changing this, also change the mixins for content container width correction in _mixins.scss
.content-container {
    max-width: $max-container-width-xl;
    margin: 0 auto;
    padding: 0 $spacing-l;

    @media screen and (max-width: $breakpoint-l-width) {
        padding: 0 $spacing-m;
    }

    @media screen and (max-width: $breakpoint-m-width) {
        padding: 0 $spacing-s;
    }

    @media screen and (max-width: $breakpoint-s-width) {
        padding: 0 $spacing-mobile;
    }
}

.top-bottom-container {
    padding-top: $spacing-m;
    padding-bottom: $spacing-l;

    @media screen and (max-width: $breakpoint-l-width) {
        padding-top: $spacing-l;
        padding-bottom: $spacing-l;
    }

    @media screen and (max-width: $breakpoint-m-width) {
        padding-top: $spacing-m;
        padding-bottom: $spacing-m;
    }

    @media screen and (max-width: $breakpoint-s-width) {
        padding-top: $spacing-s;
        padding-bottom: $spacing-s;
    }
}

.main-wrapper__container {
    grid-template-areas: "content content content content content content content content content content content content";

    &.main-wrapper__container--sidebar {
        grid-template-areas: "content content content content content content content content content sidebar sidebar sidebar";
    }

    .content {
        grid-area: content;
        //when making changes, also change translateY of entities->.layout--entity
        padding-top: 4rem;
    }

    .sidebar--content {
        grid-area: sidebar;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        grid-template-areas: "line content content";

        .region {
            grid-area: content;
            padding-top: 4rem;
        }

        &::before {
            content: "";
            display: block;
            grid-area: line;
            width: 1px;
            background-color: black;
            height: 100%;
            justify-self: center;
        }
    }
}