html {
    font-size: calc(#{6px} + #{strip-unit(4px)} * ((100vw - #{$breakpoint-s-width}) / #{strip-unit($breakpoints-max-diff)}));
    line-height: 1.2;
    @media screen and (max-width: $breakpoint-s-width) {
font-size: 6px;
    }
}

div,
p,
span,
em,
i,
li,
td,
address,
a {
    @include font-text-regular;
    @include text-regular;
    line-height: 1.2;
}

p {
    margin: $spacing-mobile 0;
    max-width: $content-text-max-width;
    line-height: 1.2;
}

strong,
b,
th,
.strong,
.bold,
button,
.btn,
label,
input,
textarea,
select {
    @include font-text-bold;
    @include text-regular;
}

h1,
.h1 {
    @include font-text-bold;
    @include text-h1;
    color: black;
}

h2,
.h2 {
    @include font-text-bold;
    @include text-h2;
    color: black;
}

h3,
.h3 {
    @include font-text-bold;
    @include text-h3;
    color: black;
}

h4,
.h4 {
    @include font-text-bold;
    @include text-h4;
    color: black;
}

h5,
.h5 {
    @include font-text-bold;
    @include text-h5;
    color: black;
}

h6,
.h6 {
    @include font-text-bold;
    @include text-h6;
    color: black;
}



ol,
ul {
    padding-left: 1em;
    margin: $spacing-mobile 0;
}

.text-meta {
    @include text-meta;
}

.text-bigger {
    @include text-bigger;
}

.text-super {
    @include text-super;
}

.text-hero {
    @include text-hero;
    @include font-text-bold;
}

.text-hero-small {
    @include text-hero-small;
    @include font-text-bold;
}

.text-hero-mini {
    @include text-hero-mini;
    @include font-text-bold;
}


.font-regular {
    @include font-text-regular;
}

.font-text-bold {
    @include font-text-bold;
}

.dialog-off-canvas-main-canvas {
    a {
        @include transition-all;
        color: black !important;
        text-decoration: underline !important;

        &.link--nostyle {
            color: black;
        }

        &:hover {
            text-decoration-thickness: 0.15em !important;
        }
    }
    header{
            a {
        text-decoration: none !important;
         &:hover {
            text-decoration: underline !important;
            text-decoration-thickness: 0.15em !important;
        }
    }
    }
}

a {
    border: none !important;
    box-shadow: none !important;
    transition: none !important;
}

.link--overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0;
}