.layout--aboutus-teaser {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        @include content-container-position-correction-left();
        background-color: $color-grey-pale;
    }

    .aboutus-teaser__wrapper {
        grid-template-areas: "image image image image image space txt txt txt txt txt txt";

        .teaser-image {
            grid-area: image;
            z-index: 2;
            overflow: hidden;
            * {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: 0;
            }
        }

        .teaser-txt {
            grid-area: txt;
            z-index: 2;
            padding: 4rem 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 2rem;
            grid-template-areas: "headline headline headline headline headline headline" "space content content content content content";
            div{
                grid-area: content;
            }
            h2, h2 *{
                grid-area: headline;
                @include font-text-bold;
                @include text-h2;
            }
        }
    }
}