.layout--bz-card {
       .card {

        &__content--type,
        &__content--type * {
            @include text-meta;
            @include font-text-bold;
        }

        &__content--number,
        &__content--number * {
            @include text-meta;
            @include font-text-bold;
        }

        &__content--type,
        &__content--number {
            border-bottom: 1px solid black;
            *{
                text-decoration: none!important;
            }
        }

        &__content--beznumber,
        &__content--beznumber * {
            @include font-text-bold;
            color: $color-lilac-dark;
        }
    }
}