.layout--entity {
    grid-template-columns: 5fr 1px 6fr;
    gap: 0;
    transform: translateY(-4rem);
    border-bottom: 1px solid black;

    .entity {
        &__divider {
            height: 100%;
            background-color: black;
            width: 1px;
        }

        &__left {
            padding-right: 10rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            position: sticky;
            top: 12rem;
            align-self: start;

            .entity {
                &__header {
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        margin-top: 4rem;
                        @include content-container-width-correction-half;
                        @include content-container-position-correction-left;
                        height: 1px;
                        background-color: black;
                    }
                }

                &__entity-name {
                    * {
                        @include font-text-bold;
                        margin-bottom: 1rem;
                    }
                }

                &__title {
                    * {
                        @include text-h1;
                        @include font-text-bold;
                    }
                }

                &__document-identifier {}

                &__img {
                    margin-top: 8rem;
                }
            }
        }

        &__right {
            padding-left: 10rem;
            padding-top: 4rem;
            position: relative;

            .entity {
                &__data {
                    margin-bottom: 6rem;
                }

                &__datagroup {}
            }
        }
    }
}

// Tablet down
@media screen and (max-width: $breakpoint-l-width) {
    .layout--entity {
        grid-template-columns: 6fr 1px 5fr;
    }
}

// Mobile down
@media screen and (max-width: $breakpoint-m-width) {
    .layout--entity {
        grid-template-columns: 1fr;
    border-bottom: none;
        .entity {
            &__divider {
                height: 1px;
                @include content-container-width-correction-whole;
                @include content-container-position-correction-left;
                margin: 4rem 0;
            }

            &__left {
                position: relative;
                top: 0;
                padding-right: 0;
                .entity {
                    &__header {
                        &::after {
                            @include content-container-width-correction-whole;
                            position: relative;
                        margin-top: 4rem;
                        }
                    }

                    &__img {
                        margin-top: 8rem;
                    }
                }
            }
        }
    }
}

// Mobile down
@media screen and (max-width: $breakpoint-sm-width) {
    .layout--entity {
        .entity {
            &__right {

                padding-left: 0;
            }
        }
    }
}