.layout--howtomarki {
    position: relative;

    .howtomarki__title {
    margin-top: 8rem;
        margin-bottom: 16rem;
    }

    .howtomarki__accordions {
        margin-bottom: 20rem;
    }
}

// Mobile down
@media screen and (max-width: $breakpoint-m-width) {
    .layout--howtomarki {

    .howtomarki__title {
    margin-top: 6rem;
        margin-bottom: 10rem;
    }
}
}