.layout--introtext {
    grid-template-areas: "headline headline headline headline headline headline space content content content content content";
    margin-top: 14rem;
    margin-bottom: 10rem;
    h1 {
        grid-area: headline;
    }

    .introtext-content {
        grid-area: content;
    }
}

// Mobile down

@media screen and (max-width: $breakpoint-m-width) {
.layout--introtext {
    grid-template-areas: "headline headline headline headline headline headline headline headline headline headline headline headline" "content content content content content content content content content content content content";
        margin-top: 10rem;
}
}