.layout--object-card {
    .card {

        &__objnumber,
        &__objnumber * {
            @include text-meta;
            @include font-text-bold;
        }

        &__title,
        &__title * {
            color: $color-blue-dark;
            @include font-text-bold;
        }

        &__artist,
        &__artist * {
            @include text-meta;
            @include font-text-bold;
            margin-top: 0.5rem !important;
        }
    }
}

.layout--object-preview {
    .layout--object-card {
        border: none;
    }
}