.search__form {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: translateY(-1px);

    form {
        @include grid;
        align-items: center;
        grid-template-areas: "input input input input input input input input input search search camera";
        gap: 0;
        width: 100%;
        max-width: 100%;
        height: 12rem;

        * {
            margin: 0;
        }

        input,
        button {
            @include text-bigger;
            @include font-text-regular;
            height: 100%;
            margin: 0;
        }

        div.form-item {
            grid-area: input;
            height: 100%;
        }

        input.form-text {
            width: 100%;
            border: none;
            padding: 0.5em 1em;
            padding-top: 2rem;
        }

        .form-actions {
            grid-area: search;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: end;
        }

        label {
            display: none;
        }

        button {
            padding-top: 2rem;
        }

        .button--search {
            grid-area: search;
            justify-self: end;
            padding: 0 4rem;
            padding-top: 1rem;

            &:hover {
                color: black;
                border: none;
                background-color: $color-lilac-pale;
            }
        }

        .button--camera {
            grid-area: camera;
            justify-self: stretch;
            background-color: transparent;

            img {
                height: 4rem;
            }
        }
    }
}

.view-search {
    .views-view-grid__item {
        align-self: stretch;

        .views-view-grid__item-inner,
        .card,
        .views-field-rendered-item-card {
            position: relative;
            height: 100%;
        }
    }
}

.search__help {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    padding-bottom: 4rem;

    &::after {
        content: "";
        //responsive nachjustieren!! 
        @include content-container-width-correction-half(calc(((100% - 2rem) / 3)));
        left: calc(((100% - 2rem) / -3));
        position: absolute;
        bottom: 0;
        height: 1px;
        background-color: black;
    }

    .search__help__icon {
        align-self: center;
    }
}

.block-facets {
    padding-top: 4rem;

    .block__title {
        @include text-h6;
        @include font-text-bold;
        color: black;
    }

    .block__content {
        ul {
            list-style-type: none;
            margin-block-start: 0;
            padding: 0;
        }

        li {
            display: grid;
            grid-template-columns: 1em auto;
            gap: 1rem;
            cursor: pointer;

            * {
                cursor: pointer;
            }

            input[type="checkbox"] {
                width: 1em;
                height: 1em;
                margin-top: 0.1em;
            }

            .form-check-label {
                margin: 0;
            }
        }
    }
}

.header-wrapper--search {
    position: relative;

    #block-marki-custom-markisearchform {
        width: 100%;
        position: absolute;
        top: 0;

        .block__content {
            background-color: white;
            position: relative;
            z-index: 3;
            @include content-container;
            border-bottom: 1px solid black;

            .marki-search-form-wrapper {
                position: relative;

                &__actions {
                    display: flex;
                    width: 100%;
                    justify-content: end;
                    align-items: start;
                    position: absolute;
                    right: 0;
                    top: 0;

                    button {
                        margin: 0;
                        aspect-ratio: 1 / 1;
                        font-size: 3.2rem;
                        padding: 4rem;
                        line-height: 1;
                        background-color: white;
                        font-weight: 300;
                    }
                }

                &__form {

                    #marki-search-form .mark-search-container {
                        @include grid;
                        grid-template-areas: "form form form form form form form form form form space button" "actions actions actions actions actions actions actions actions actions actions actions actions";
                        padding-top: 4rem;

                        #edit-inner-container {
                            grid-area: form;

                            .form-item__label {
                                @include text-meta;
                            }
                        }
                    }

                    input.form-file {
                        width: 100%;
                        border: 2px dashed $color-lilac;
                        height: 15rem;
                        display: flex;
                        align-content: center;
                        justify-items: center;
                        justify-content: center;
                    }

                    .js-form-type-number {
                        display: flex;
                        gap: 2rem;
                        align-items: baseline;
                        justify-content: end;

                        * {
                            margin: 0;
                        }

                        label {
                            display: block;
                            height: auto;
                        }
                    }

                    .marki-search-form__form-actions {
                        display: flex;
                        justify-content: space-between;
                        gap: 2rem;
                        align-items: center;
                        position: relative;
                        grid-area: actions;

                        &::before {
                            content: "";
                            height: 1px;
                            width: 100%;
                            background-color: black;
                            @include content-container-position-correction-left;
                            position: absolute;
                            top: 0;
                            @include content-container-width-correction-whole;
                        }

                        #submit-mark-search-button {
                            @include text-bigger;
                            @include font-text-regular;
                            padding: 4rem;
                            margin: 0;
                            height: 100%;
                        }

                        .js-form-type-checkbox {
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            label {
                                @include font-text-bold;
                                @include text-regular;
                                display: flex;
                                align-content: baseline;
                                gap: 0.3em;

                                a {
                                    display: inline;
                                    margin: 0;
                                    @include font-text-bold;
                                }
                            }
                        }
                    }

                    // OBACHT PFUSCH!!!
                    #edit-query-image--description {
                        transform: translateY(-4rem);
                        padding: 0 1.3rem;
                        max-width: unset;
                    }
                }
            }
        }
    }
}

#marki-crop-modal {
    &>div {
        border-radius: 0;
        border: 1px solid black;

        &>div:last-child {
            position: relative;
            &::before {
                content: "";
                height: 1px;
                width: 100%;
                background-color: black;
                position: absolute;
                top: 0;
            }

            margin-top: 1px solid black;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    }

    .cropper-view-box {
        outline: none;
    }

    .cropper-line {
        background-color: $color-green;
        opacity: 1;

        &.line-e,
        &.line-w {
            width: 2px;
        }

        &.line-n,
        &.line-s {
            height: 2px;
        }
    }

    .cropper-point {
        background-color: $color-lilac;
        width: 8px;
        height: 8px;
        opacity: 1;
    }
}

.search-header--inactive {
    .marki-search-form {
        display: none;
    }
}