footer {
    .footer__container {
        grid-template-areas:
            "markilogo markilogo text text text text text text text gnmlogo gnmlogo gnmlogo"
            "markilogo markilogo mainmenu mainmenu mainmenu mainmenu mainmenu mainmenu mainmenu gnmlogo gnmlogo gnmlogo"
            "markilogo markilogo mainmenu mainmenu mainmenu mainmenu mainmenu mainmenu mainmenu funding funding funding"
            "markilogo markilogo legalmenu legalmenu legalmenu legalmenu legalmenu legalmenu legalmenu funding funding funding"
            "markilogo markilogo legalmenu legalmenu legalmenu legalmenu legalmenu legalmenu legalmenu funding funding funding";
        border-top: 1px solid black;
        padding-top: 6rem;
        position: relative;

        .footer__container__inner {
            nav{
                margin: 0;
            }
            .menu{
                list-style-type: none;
                padding: 4rem 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                .menu__item{
                    margin: 0;
                    padding: 0;
                    .menu__link{
                        @include font-text-bold;
                        text-decoration: underline;
                        color: black;
                    }
                }
            }

            &--logo-marki {
                grid-area: markilogo;
                position: relative;
                padding: 0 4rem;

                &::after {
                    content: "";
                    display: block;
                    height: calc(100% + 6rem);
                    width: 1px;
                    background-color: black;
                    position: absolute;
                    right: 0;
                    top: -6rem;
                }
            }

            &--txt {
                grid-area: text;
                padding-bottom: 6rem;
            }

            &--nav-main {
                grid-area: mainmenu;

            }

            &--nav-legal {
                grid-area: legalmenu;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 2rem;
                grid-template-areas: "space content content content content content space2";

                .region {
                    grid-area: content;
                }
            }

            &--logo-gnm {
                grid-area: gnmlogo;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    height: calc(100% + 6rem);
                    width: 1px;
                    background-color: black;
                    position: absolute;
                    left: 0;
                    top: -6rem;
                }
                                &::after {
                    content: "";
                    display: block;
                    // check on big screen additional-width
                    @include content-container-width-correction-half;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    bottom: 0;
                }
            }

            &--logo-funding {
                grid-area: funding;
                position: relative;
                padding-top: 4rem!important;
                &::after {
                    content: "";
                    display: block;
                    height: calc(100% + 2rem);
                    width: 1px;
                    background-color: black;
                    position: absolute;
                    left: 0;
                    top: -2rem;
                }
            }

            &--logo-funding,
            &--logo-gnm {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
                grid-template-areas: "space content content";
                padding: 0 4rem;
                                padding-bottom: 6rem!important;
                p{
                    @include font-text-bold;
                    margin-bottom: 1rem;
                }
                img {
                    padding-top: 3rem;
                }
                .region {
                    grid-area: content;
                }
            }

            &--txt,
            &--nav-main {
                position: relative;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 2rem;
                grid-template-areas: "space content content content content content space2";

                .region {
                    grid-area: content;
                }

                &::after {
                    content: "";
                    display: block;
                    width: calc(100% + 4rem);
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    left: -2rem;
                    bottom: 0;
                }
            }
        }
    }
}