#site-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    min-height: unset;
    border-block-end: none;

    .site-header__container {
        position: relative;
        width: 100%;
        padding-top: $spacing-s;
        padding-bottom: $spacing-s;
        grid-template-columns: 20% auto 45px;
        grid-template-areas: "logo space nav";
        gap: $spacing-s;
        align-items: center;
        border-bottom: 1px solid black;

        .site-branding {
            grid-area: logo;
            background-image: none;
            margin: 0;
            padding: 0;
            min-height: unset;

            .site-branding__inner {
                margin: 0;
                padding: 0;
                height: auto;

                .site-branding__logo {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .site-navigation-wrapper {
            grid-area: nav;

            #menu-toggle {
                width: 3rem;
                height: 3rem;
                padding: 5px;
                z-index: 999;
                background-color: white;
                position: relative;
                margin: 0;
            }
        }


    }

    .navigation-overlay {
        grid-area: overlay;
        background-color: white;
        z-index: 99;
        position: relative;
        border-bottom: 2px solid black;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: black;
            left: 50%;
            bottom: 0;
        }

        &--hidden {
            display: none;
        }

        &--open {
            display: block;
        }

        nav {
            margin: 0;
            padding: 0;
        }

        .menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            .menu__item {
                margin: 0;

                .menu__link {
                    @include text-bigger;
                    @include font-text-bold;
                    color: black;
                    margin: 0;
                }
            }

        }

        #site-navigation {
            grid-template-areas: "space search search search search search space2 gnm gnm gnm gnm space3" "space main main main main main space2 gnm gnm gnm gnm space3" "space main main main main main space2 legal legal legal legal legal";
            padding-top: 0;
            padding-bottom: 0;
            align-items: first baseline;
        }

        .header-item {
            &__searchlink-menu {
                grid-area: search;

                &::after {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 1px;
                    background-color: black;
                    left: 0;
                }
            }

            &__primary-menu {
                grid-area: main;
            }

            &__gnmlink {
                grid-area: gnm;

                &::after {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 1px;
                    background-color: black;
                    left: 50%;
                }

                .block{
                    margin: 0;
                    padding: 0;
                }

                a {
                    @include text-bigger;
                    @include font-text-bold;
                    color: $color-blue-dark!important;
                    margin: 0;
                    border: none;
                    background: none;
                    box-shadow: none;

                    &:hover {
                        border: none;
                        background: none;
                        box-shadow: none;
                        text-decoration: none;
                    }

                    &::after {
                        content: "🡭";
                        margin-left: 0.4rem;
                    }
                }
            }

            &__legallinks {
                grid-area: legal;
            }

            .region {
                padding: 3rem 0;
            }
        }

        #primary-menu {
            list-style-type: none;
            overflow-y: auto;

            li {
                padding: $spacing-s 0;

                a {
                    @include text-bigger;
                }
            }
        }
    }
}