@charset "UTF-8";
.flex-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.inline-flex-wrapper {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.flex-wrapper.flex-wrapper--left,
.inline-flex-wrapper.flex-wrapper--left {
  justify-content: flex-start;
}
.flex-wrapper.flex-wrapper--center,
.inline-flex-wrapper.flex-wrapper--center {
  justify-content: center;
  align-items: center;
}
.flex-wrapper.flex-wrapper--hcenter,
.inline-flex-wrapper.flex-wrapper--hcenter {
  justify-content: center;
}
.flex-wrapper.flex-wrapper--vcenter,
.inline-flex-wrapper.flex-wrapper--vcenter {
  align-items: center;
}
.flex-wrapper.flex-wrapper--right,
.inline-flex-wrapper.flex-wrapper--right {
  justify-content: flex-end;
}
.flex-wrapper.flex-wrapper--stretch,
.inline-flex-wrapper.flex-wrapper--stretch {
  align-items: stretch;
}

.flex-square {
  flex: 1 0 0;
}
.flex-square:before {
  /* The psuedo-element's padding-top percentage is based on the element's width. */
  padding-top: 100%;
  content: "";
  float: left;
}
.flex-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .flex-square {
    flex: 0 1 auto;
  }
}
/* @font-face {
    font-family: ">>FONT NAME<<";
    src: url("../fonts/>>FONT NAME<<.woff2") format("woff2"), url("../fonts/>>FONT NAME<<.woff") format("woff");
    font-weight: normal;
    font-style: normal;
} */
.invisible,
.hidden {
  display: none !important;
}

.text-center {
  display: block;
  text-align: center;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  display: block;
  text-align: right;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-underline {
  text-decoration: underline !important;
}

.text-linethrough {
  text-decoration: line-through;
}

.bg-image {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
}

img.avatar {
  width: auto;
  border-radius: 50%;
}

.no-break {
  word-break: keep-all !important;
}

.no-margin {
  margin: 0;
}

.no-hor-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.grid-full {
  display: block;
  width: 100%;
}

.block {
  display: block;
  margin: 0;
  padding: 0;
}

#page.site {
  width: 100vw;
}

.site-main {
  overflow-x: hidden;
}
.site-main.no-overflow {
  overflow: unset;
}

@media screen and (max-width: 560px) {
  body {
    overflow-x: hidden;
  }
}
.content-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 50px;
}
@media screen and (max-width: 1200px) {
  .content-container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .content-container {
    padding: 0 21px;
  }
}
@media screen and (max-width: 375px) {
  .content-container {
    padding: 0 16px;
  }
}

.top-bottom-container {
  padding-top: 30px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .top-bottom-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .top-bottom-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 375px) {
  .top-bottom-container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

html {
  font-size: calc(6px + 4 * (100vw - 375px) / 1545);
  line-height: 1.3;
}

div,
p,
span,
em,
i,
li,
td,
address,
a {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin: 16px 0;
  max-width: 1128px;
}

strong,
b,
th,
.strong,
.bold,
button,
.btn,
label,
input,
textarea,
select {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1,
.h1 {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0.28em;
}

h2,
.h2 {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

h3,
.h3 {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2.6rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

h4,
.h4 {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2.2rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

h5,
.h5 {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

h6,
.h6 {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.8rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

ol,
ul {
  padding-left: 1em;
  margin: 16px 0;
}

.text-meta {
  font-size: 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.text-bigger {
  font-size: 2.2rem;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.text-super {
  font-size: 4rem;
  margin-top: 3em;
  margin-bottom: 3em;
}

.text-hero {
  font-size: 28rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "TT Travels", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.text-hero-small {
  font-size: 20rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "TT Travels", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.text-hero-mini {
  font-size: 14rem;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-family: "TT Travels", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-regular {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-text-bold {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.dialog-off-canvas-main-canvas a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  color: black !important;
  text-decoration: underline !important;
}
.dialog-off-canvas-main-canvas a.link--nostyle {
  color: black;
}
.dialog-off-canvas-main-canvas a:hover {
  text-decoration-thickness: 0.15em !important;
}

a {
  border: none !important;
  box-shadow: none !important;
  transition: none !important;
}

*,
div,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #FFFFFF;
  background-image: none;
}
body.no-scroll {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

figure,
img {
  position: relative;
  line-height: 0;
  width: 100%;
  height: auto;
}

.inner {
  max-width: 1514px;
  margin: auto;
  padding: 0 21px;
  position: relative;
}

::selection {
  background: #000000;
  color: #FFFFFF;
}

::-moz-selection {
  background: #000000;
  color: #FFFFFF;
}

body.menu-open {
  overflow: hidden;
  overscroll-behavior: none;
}

#primary {
  min-height: 75vh;
}

.screen-reader-text {
  opacity: 0;
  position: absolute;
}

@media screen and (min-width: 1200px) {
  .inner {
    padding: 0 50px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}
.grid--50-50 {
  grid-template-columns: 1fr 1fr;
  gap: 21px;
}

@media screen and (max-width: 768px) {
  .grid--50-50 {
    grid-template-columns: 1fr;
    gap: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .hide-for-desktop {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .hide-for-mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hide-for-tablet-down {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .hide-for-desktop-down {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .show-for-desktop {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .show-for-mobile {
    display: block;
  }
}

.page--default .page--default__header__title h1.h2, .page--default .page--default__header__title h1.h2 * {
  margin: 0;
}
.page--default .page--default__content {
  position: relative;
  margin: 150px 0;
  padding: 100px 0;
}
.page--default .page--default__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc((100vw - 100%) / -2);
  width: 100vw;
  height: 100%;
  background-color: beige;
  z-index: -1;
}
.page--default .page--default__content table {
  display: block;
}
.page--default .page--default__content table tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 21px;
}

.view-filters form {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .page--default .page--default__header {
    display: block;
  }
  .page--default .page--default__content {
    margin: 100px 0;
    padding: 80px 0;
  }
  .page--default .page--default__content table tr {
    display: block;
  }
  .page--default .page--default__content table tr td {
    display: block;
  }
  .page--default .page--default__content table tr td tr {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
  }
}
@media screen and (max-width: 560px) {
  .page--default .page--default__content {
    margin: 50px 0;
    padding: 30px 0;
  }
  .page--default .page--default__content table tr td tr {
    gap: 21px;
  }
}
.btn,
button, .button--primary {
  border: none;
  background-color: #EEEDF9;
  color: #000000;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  padding: 10px 18px 8px;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  height: auto;
  min-height: 35px;
  width: auto;
  display: table;
}
.btn:disabled, .btn[disabled],
button:disabled,
button[disabled], .button--primary:disabled, .button--primary[disabled] {
  opacity: 0.5;
}
.btn:hover,
button:hover, .button--primary:hover {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

#toolbar-administration p, #toolbar-administration p *, #toolbar-administration a, #toolbar-administration a *, #toolbar-administration button, #toolbar-administration button * {
  font-size: 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}
#toolbar-administration .menu-item a {
  padding: 0.5em 1em;
}
#toolbar-administration .toolbar-tab > a, #toolbar-administration button, #toolbar-administration .menu-item a {
  padding-left: 3em;
}

.breadcrumb a {
  color: black;
}
.breadcrumb .breadcrumb__item:nth-child(n+2):before {
  border-color: red !important;
}

.view--archivalien-suche .views-row {
  background-color: #FFFFFF;
  padding: 26px 38px 22px 24px;
  margin-bottom: 30px;
  border-left: 4px solid #e3001b;
  transition: border-left 0.1s linear;
}
.view--archivalien-suche .views-row:hover {
  border-left: 4px solid #fff;
}

.pager {
  margin-bottom: 10rem !important;
}
.pager .pager__items .pager__item {
  background-color: transparent !important;
  color: #000000;
}
.pager .pager__items .pager__item.pager__item--active {
  background: none;
}
.pager .pager__items .pager__item .pager__link:hover {
  background-color: transparent !important;
  color: #000000;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

#site-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  min-height: unset;
  border-block-end: none;
}
#site-header .site-header__container {
  position: relative;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  grid-template-columns: 20% auto 45px;
  grid-template-areas: "logo space nav";
  gap: 21px;
  align-items: center;
  border-bottom: 1px solid black;
}
#site-header .site-header__container .site-branding {
  grid-area: logo;
  background-image: none;
  margin: 0;
  padding: 0;
  min-height: unset;
}
#site-header .site-header__container .site-branding .site-branding__inner {
  margin: 0;
  padding: 0;
  height: auto;
}
#site-header .site-header__container .site-branding .site-branding__inner .site-branding__logo {
  margin: 0;
  padding: 0;
}
#site-header .site-header__container .site-navigation-wrapper {
  grid-area: nav;
}
#site-header .site-header__container .site-navigation-wrapper #menu-toggle {
  width: 3rem;
  height: 3rem;
  padding: 5px;
  z-index: 999;
  background-color: white;
  position: relative;
  margin: 0;
}
#site-header .navigation-overlay {
  grid-area: overlay;
  background-color: white;
  z-index: 99;
  position: relative;
  border-bottom: 2px solid black;
}
#site-header .navigation-overlay::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: black;
  left: 50%;
  bottom: 0;
}
#site-header .navigation-overlay--hidden {
  display: none;
}
#site-header .navigation-overlay--open {
  display: block;
}
#site-header .navigation-overlay nav {
  margin: 0;
  padding: 0;
}
#site-header .navigation-overlay .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
#site-header .navigation-overlay .menu .menu__item {
  margin: 0;
}
#site-header .navigation-overlay .menu .menu__item .menu__link {
  font-size: 2.2rem;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: black;
  margin: 0;
}
#site-header .navigation-overlay #site-navigation {
  grid-template-areas: "space search search search search search space2 gnm gnm gnm gnm space3" "space main main main main main space2 gnm gnm gnm gnm space3" "space main main main main main space2 legal legal legal legal legal";
  padding-top: 0;
  padding-bottom: 0;
  align-items: first baseline;
}
#site-header .navigation-overlay .header-item__searchlink-menu {
  grid-area: search;
}
#site-header .navigation-overlay .header-item__searchlink-menu::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: black;
  left: 0;
}
#site-header .navigation-overlay .header-item__primary-menu {
  grid-area: main;
}
#site-header .navigation-overlay .header-item__gnmlink {
  grid-area: gnm;
}
#site-header .navigation-overlay .header-item__gnmlink::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: black;
  left: 50%;
}
#site-header .navigation-overlay .header-item__gnmlink .block {
  margin: 0;
  padding: 0;
}
#site-header .navigation-overlay .header-item__gnmlink a {
  font-size: 2.2rem;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #004F99;
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
}
#site-header .navigation-overlay .header-item__gnmlink a:hover {
  border: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}
#site-header .navigation-overlay .header-item__gnmlink a::after {
  content: "🡭";
  margin-left: 0.4rem;
}
#site-header .navigation-overlay .header-item__legallinks {
  grid-area: legal;
}
#site-header .navigation-overlay .header-item .region {
  padding: 3rem 0;
}
#site-header .navigation-overlay #primary-menu {
  list-style-type: none;
  overflow-y: auto;
}
#site-header .navigation-overlay #primary-menu li {
  padding: 21px 0;
}
#site-header .navigation-overlay #primary-menu li a {
  font-size: 2.2rem;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

footer .footer__container {
  grid-template-areas: "markilogo markilogo text text text text text text text gnmlogo gnmlogo gnmlogo" "markilogo markilogo mainmenu mainmenu mainmenu mainmenu mainmenu mainmenu mainmenu gnmlogo gnmlogo gnmlogo" "markilogo markilogo mainmenu mainmenu mainmenu mainmenu mainmenu mainmenu mainmenu funding funding funding" "markilogo markilogo legalmenu legalmenu legalmenu legalmenu legalmenu legalmenu legalmenu funding funding funding" "markilogo markilogo legalmenu legalmenu legalmenu legalmenu legalmenu legalmenu legalmenu funding funding funding";
  border-top: 1px solid black;
  padding-top: 6rem;
  position: relative;
}
footer .footer__container .footer__container__inner nav {
  margin: 0;
}
footer .footer__container .footer__container__inner .menu {
  list-style-type: none;
  padding: 4rem 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
footer .footer__container .footer__container__inner .menu .menu__item {
  margin: 0;
  padding: 0;
}
footer .footer__container .footer__container__inner .menu .menu__item .menu__link {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  color: black;
}
footer .footer__container .footer__container__inner--logo-marki {
  grid-area: markilogo;
  position: relative;
  padding: 0 4rem;
}
footer .footer__container .footer__container__inner--logo-marki::after {
  content: "";
  display: block;
  height: calc(100% + 6rem);
  width: 1px;
  background-color: black;
  position: absolute;
  right: 0;
  top: -6rem;
}
footer .footer__container .footer__container__inner--txt {
  grid-area: text;
  padding-bottom: 6rem;
}
footer .footer__container .footer__container__inner--nav-main {
  grid-area: mainmenu;
}
footer .footer__container .footer__container__inner--nav-legal {
  grid-area: legalmenu;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  grid-template-areas: "space content content content content content space2";
}
footer .footer__container .footer__container__inner--nav-legal .region {
  grid-area: content;
}
footer .footer__container .footer__container__inner--logo-gnm {
  grid-area: gnmlogo;
  position: relative;
}
footer .footer__container .footer__container__inner--logo-gnm::before {
  content: "";
  display: block;
  height: calc(100% + 6rem);
  width: 1px;
  background-color: black;
  position: absolute;
  left: 0;
  top: -6rem;
}
footer .footer__container .footer__container__inner--logo-gnm::after {
  content: "";
  display: block;
  width: calc(100% + 50px + 0px);
}
@media screen and (max-width: 1200px) {
  footer .footer__container .footer__container__inner--logo-gnm::after {
    width: calc(100% + 30px + 0px);
  }
}
@media screen and (max-width: 768px) {
  footer .footer__container .footer__container__inner--logo-gnm::after {
    width: calc(100% + 21px + 0px);
  }
}
@media screen and (max-width: 375px) {
  footer .footer__container .footer__container__inner--logo-gnm::after {
    width: calc(100% + 16px + 0px);
  }
}
footer .footer__container .footer__container__inner--logo-gnm::after {
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
}
footer .footer__container .footer__container__inner--logo-funding {
  grid-area: funding;
  position: relative;
  padding-top: 4rem !important;
}
footer .footer__container .footer__container__inner--logo-funding::after {
  content: "";
  display: block;
  height: calc(100% + 2rem);
  width: 1px;
  background-color: black;
  position: absolute;
  left: 0;
  top: -2rem;
}
footer .footer__container .footer__container__inner--logo-funding, footer .footer__container .footer__container__inner--logo-gnm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-template-areas: "space content content";
  padding: 0 4rem;
  padding-bottom: 6rem !important;
}
footer .footer__container .footer__container__inner--logo-funding p, footer .footer__container .footer__container__inner--logo-gnm p {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 1rem;
}
footer .footer__container .footer__container__inner--logo-funding img, footer .footer__container .footer__container__inner--logo-gnm img {
  padding-top: 3rem;
}
footer .footer__container .footer__container__inner--logo-funding .region, footer .footer__container .footer__container__inner--logo-gnm .region {
  grid-area: content;
}
footer .footer__container .footer__container__inner--txt, footer .footer__container .footer__container__inner--nav-main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  grid-template-areas: "space content content content content content space2";
}
footer .footer__container .footer__container__inner--txt .region, footer .footer__container .footer__container__inner--nav-main .region {
  grid-area: content;
}
footer .footer__container .footer__container__inner--txt::after, footer .footer__container .footer__container__inner--nav-main::after {
  content: "";
  display: block;
  width: calc(100% + 4rem);
  height: 1px;
  background-color: black;
  position: absolute;
  left: -2rem;
  bottom: 0;
}

.searchbar {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.searchbar__wrapper {
  align-items: center;
  grid-template-areas: "input input input input input input input input input search search camera";
  gap: 0;
  width: 100%;
  max-width: 100%;
  height: 12rem;
}
.searchbar__wrapper input,
.searchbar__wrapper button {
  font-size: 2.2rem;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  margin: 0;
}
.searchbar__wrapper input {
  width: auto;
  border: none;
  padding: 0.5em 1em;
  padding-top: 2rem;
  grid-area: input;
}
.searchbar__wrapper button {
  padding-top: 2rem;
}
.searchbar__wrapper .button--search {
  grid-area: search;
  justify-self: end;
  padding: 0 4rem;
  padding-top: 1rem;
}
.searchbar__wrapper .button--camera {
  grid-area: camera;
  justify-self: stretch;
  background-color: transparent;
}
.searchbar__wrapper .button--camera img {
  height: 4rem;
}

.layout--basicblock {
  position: relative;
}
.layout--basicblock .img-size--full {
  width: calc(100% + 100px + 0px);
}
@media screen and (max-width: 1200px) {
  .layout--basicblock .img-size--full {
    width: calc(100% + 60px + 0px);
  }
}
@media screen and (max-width: 768px) {
  .layout--basicblock .img-size--full {
    width: calc(100% + 42px + 0px);
  }
}
@media screen and (max-width: 375px) {
  .layout--basicblock .img-size--full {
    width: calc(100% + 32px + 0px);
  }
}
.layout--basicblock .img-size--full {
  transform: translateX(-50px);
}
@media screen and (max-width: 1200px) {
  .layout--basicblock .img-size--full {
    transform: translateX(-30px);
  }
}
@media screen and (max-width: 768px) {
  .layout--basicblock .img-size--full {
    transform: translateX(-21px);
  }
}
@media screen and (max-width: 375px) {
  .layout--basicblock .img-size--full {
    transform: translateX(-16px);
  }
}
.layout--basicblock .img-size--full {
  max-width: unset;
}

.layout--introtext {
  grid-template-areas: "headline headline headline headline headline headline space content content content content content";
  margin-top: 14rem;
  margin-bottom: 10rem;
}
.layout--introtext h1 {
  grid-area: headline;
}
.layout--introtext .introtext-content {
  grid-area: content;
}

.layout--aboutus-teaser {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.layout--aboutus-teaser::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(-50px);
}
@media screen and (max-width: 1200px) {
  .layout--aboutus-teaser::before {
    transform: translateX(-30px);
  }
}
@media screen and (max-width: 768px) {
  .layout--aboutus-teaser::before {
    transform: translateX(-21px);
  }
}
@media screen and (max-width: 375px) {
  .layout--aboutus-teaser::before {
    transform: translateX(-16px);
  }
}
.layout--aboutus-teaser::before {
  background-color: #EBEEDD;
}
.layout--aboutus-teaser .aboutus-teaser__wrapper {
  grid-template-areas: "image image image image image space txt txt txt txt txt txt";
}
.layout--aboutus-teaser .aboutus-teaser__wrapper .teaser-image {
  grid-area: image;
  z-index: 2;
  overflow: hidden;
}
.layout--aboutus-teaser .aboutus-teaser__wrapper .teaser-image * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}
.layout--aboutus-teaser .aboutus-teaser__wrapper .teaser-txt {
  grid-area: txt;
  z-index: 2;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  grid-template-areas: "headline headline headline headline headline headline" "space content content content content content";
}
.layout--aboutus-teaser .aboutus-teaser__wrapper .teaser-txt div {
  grid-area: content;
}
.layout--aboutus-teaser .aboutus-teaser__wrapper .teaser-txt h2, .layout--aboutus-teaser .aboutus-teaser__wrapper .teaser-txt h2 * {
  grid-area: headline;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}
.layout--aboutus-teaser .aboutus-teaser__wrapper .teaser-txt .teaser-link {
  font-size: 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  display: block;
  text-align: right;
  margin-top: 2rem;
}

.layout--aboutus {
  position: relative;
}
.layout--aboutus .aboutus__intro-wrapper {
  grid-template-areas: "txt txt txt txt txt sapce space img img img img img";
  margin-top: 8rem;
  margin-bottom: 20rem;
}
.layout--aboutus .aboutus__intro-wrapper .aboutus__intro-txt {
  grid-area: txt;
}
.layout--aboutus .aboutus__intro-wrapper .aboutus__intro-txt .aboutus__intro {
  margin-top: 4rem;
}
.layout--aboutus .aboutus__intro-wrapper .aboutus__image {
  grid-area: img;
  overflow: hidden;
}
.layout--aboutus .aboutus__intro-wrapper .aboutus__image * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}
.layout--aboutus .aboutus__wrapper .aboutus__accordions {
  margin-bottom: 20rem;
}
.layout--aboutus .aboutus__wrapper p.h6 {
  margin-bottom: 6rem;
}
.layout--aboutus .aboutus__wrapper .aboutus__persons,
.layout--aboutus .aboutus__wrapper .aboutus__persons_gone {
  margin-bottom: 10rem;
}
.layout--aboutus .aboutus__wrapper .aboutus__persons > .field__items,
.layout--aboutus .aboutus__wrapper .aboutus__persons_gone > .field__items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  row-gap: 4rem;
}
.layout--aboutus .aboutus__wrapper .aboutus__persons > .field__items > .field__item,
.layout--aboutus .aboutus__wrapper .aboutus__persons_gone > .field__items > .field__item {
  grid-column-end: span 3;
}
.layout--aboutus .aboutus__wrapper .aboutus__persons .teammember,
.layout--aboutus .aboutus__wrapper .aboutus__persons_gone .teammember {
  grid-template-columns: span 3;
}
.layout--aboutus .aboutus__wrapper .aboutus__persons_gone {
  margin-bottom: 20rem;
}

.layout--howtomarki {
  position: relative;
}
.layout--howtomarki .howtomarki__title {
  margin-top: 8rem;
  margin-bottom: 16rem;
}
.layout--howtomarki .howtomarki__accordions {
  margin-bottom: 20rem;
}

h1.contactpage__title {
  margin-top: 8rem;
}

.layout--contactpage {
  position: relative;
  grid-template-areas: "form form form form form space content content content content content content";
  margin-top: 8rem;
  margin-bottom: 16rem;
}
.layout--contactpage::before, .layout--contactpage::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
}
.layout--contactpage::after {
  top: 100%;
  margin-top: -1px;
}
.layout--contactpage .contactpage__form {
  grid-area: form;
  border-right: 1px solid black;
}
.layout--contactpage .contactpage__form form {
  display: flex;
  flex-direction: column;
}
.layout--contactpage .contactpage__form form > .form-item, .layout--contactpage .contactpage__form form > .form-wrapper, .layout--contactpage .contactpage__form form > .field--type-string-long {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  position: relative;
  margin-block: 0;
}
.layout--contactpage .contactpage__form form > .form-item::after, .layout--contactpage .contactpage__form form > .form-wrapper::after, .layout--contactpage .contactpage__form form > .field--type-string-long::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  transform: translateX(-50px);
}
@media screen and (max-width: 1200px) {
  .layout--contactpage .contactpage__form form > .form-item::after, .layout--contactpage .contactpage__form form > .form-wrapper::after, .layout--contactpage .contactpage__form form > .field--type-string-long::after {
    transform: translateX(-30px);
  }
}
@media screen and (max-width: 768px) {
  .layout--contactpage .contactpage__form form > .form-item::after, .layout--contactpage .contactpage__form form > .form-wrapper::after, .layout--contactpage .contactpage__form form > .field--type-string-long::after {
    transform: translateX(-21px);
  }
}
@media screen and (max-width: 375px) {
  .layout--contactpage .contactpage__form form > .form-item::after, .layout--contactpage .contactpage__form form > .form-wrapper::after, .layout--contactpage .contactpage__form form > .field--type-string-long::after {
    transform: translateX(-16px);
  }
}
.layout--contactpage .contactpage__form form > .form-item::after, .layout--contactpage .contactpage__form form > .form-wrapper::after, .layout--contactpage .contactpage__form form > .field--type-string-long::after {
  width: calc(100% + 50px + 0px);
}
@media screen and (max-width: 1200px) {
  .layout--contactpage .contactpage__form form > .form-item::after, .layout--contactpage .contactpage__form form > .form-wrapper::after, .layout--contactpage .contactpage__form form > .field--type-string-long::after {
    width: calc(100% + 30px + 0px);
  }
}
@media screen and (max-width: 768px) {
  .layout--contactpage .contactpage__form form > .form-item::after, .layout--contactpage .contactpage__form form > .form-wrapper::after, .layout--contactpage .contactpage__form form > .field--type-string-long::after {
    width: calc(100% + 21px + 0px);
  }
}
@media screen and (max-width: 375px) {
  .layout--contactpage .contactpage__form form > .form-item::after, .layout--contactpage .contactpage__form form > .form-wrapper::after, .layout--contactpage .contactpage__form form > .field--type-string-long::after {
    width: calc(100% + 16px + 0px);
  }
}
.layout--contactpage .contactpage__form form > .form-item::after, .layout--contactpage .contactpage__form form > .form-wrapper::after, .layout--contactpage .contactpage__form form > .field--type-string-long::after {
  background-color: black;
  bottom: 0;
  left: 0;
}
.layout--contactpage .contactpage__form form > .field--type-string-long > .form-item {
  padding: 0;
  margin-block: 0;
}
.layout--contactpage .contactpage__form form .form-item {
  margin-block: 0;
}
.layout--contactpage .contactpage__form {
  /* BIG MESSAGE FIELD */
}
.layout--contactpage .contactpage__form .form-item-message-0-value {
  align-items: start;
  padding-top: 20px;
  padding-bottom: 20px;
}
.layout--contactpage .contactpage__form {
  /* LABELS */
}
.layout--contactpage .contactpage__form label {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
.layout--contactpage .contactpage__form {
  /* INPUTS + TEXTAREA */
}
.layout--contactpage .contactpage__form input[type=text],
.layout--contactpage .contactpage__form textarea {
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
  background: transparent;
  margin: 0;
  padding: 0;
  padding-right: 4rem;
}
.layout--contactpage .contactpage__form {
  /* TEXTAREA SIZE */
}
.layout--contactpage .contactpage__form textarea {
  min-height: 220px;
  resize: vertical;
}
.layout--contactpage .contactpage__form {
  /* REMOVE DEFAULT WRAPPER SPACING */
}
.layout--contactpage .contactpage__form .form-item > div {
  width: 100%;
}
.layout--contactpage .contactpage__form {
  /* CHECKBOX ROW */
}
.layout--contactpage .contactpage__form .form-type-checkbox {
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.layout--contactpage .contactpage__form .form-type-checkbox label {
  padding: 0;
}
.layout--contactpage .contactpage__form {
  /* ACTION ROW (CHECKBOX + BUTTON) */
}
.layout--contactpage .contactpage__form .contactpage__dsgvo-submit-wrapper {
  display: grid;
  grid-template-columns: 1fr 200px;
  border-bottom: 1px solid black;
}
.layout--contactpage .contactpage__form .contactpage__dsgvo-submit-wrapper .form-type-boolean {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 2rem auto;
  gap: 2rem;
}
.layout--contactpage .contactpage__form .contactpage__dsgvo-submit-wrapper .form-type-boolean label {
  display: none;
}
.layout--contactpage .contactpage__form .contactpage__dsgvo-submit-wrapper .form-type-boolean input[type=checkbox] {
  width: 2rem;
  height: 2rem;
}
.layout--contactpage .contactpage__form .contactpage__dsgvo-submit-wrapper .form-type-boolean .form-item__description, .layout--contactpage .contactpage__form .contactpage__dsgvo-submit-wrapper .form-type-boolean a {
  font-size: 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
  margin: 0;
  line-height: 1.2;
}
.layout--contactpage .contactpage__form .form-actions {
  display: block;
  margin-block: 0;
  justify-self: end;
}
.layout--contactpage .contactpage__form .form-actions .button {
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  border: none;
  background-color: #EEEDF9;
  color: #000000;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  padding: 10px 18px 8px;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  height: 100%;
  min-height: 35px;
  width: auto;
  display: table;
  margin: 0;
}
.layout--contactpage .contactpage__form {
  /* BUTTON */
}
.layout--contactpage .contactpage__form .button--primary {
  background: #d9d9df;
  border: none;
  height: 100%;
  font-size: 1.2rem;
  cursor: pointer;
}
.layout--contactpage .contactpage__content {
  grid-area: content;
  padding-top: 8rem;
}
.layout--contactpage .contactpage__content .contactpage__address-wrapper {
  padding-top: 4rem;
}
.layout--contactpage .contactpage__content .contactpage__address-wrapper .contactpage__address-title {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.accordion-item {
  margin-bottom: 0;
}
.accordion-item::after, .accordion-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  height: 1px;
  background-color: black;
}

.accordion-item__header,
.accordion-item__content {
  grid-column: 2/span 10;
}

.accordion-item__header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2rem;
  grid-template-areas: "title title title title title title title title space trigger";
}
.accordion-item__header .accordion-item__title {
  align-self: center;
  grid-area: title;
}
.accordion-item__header .accordion-item__title * {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2.6rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}
.accordion-item__header .accordion__trigger {
  grid-area: trigger;
  padding: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
}
.accordion-item__header .accordion__trigger img {
  width: 3rem;
  aspect-ratio: 1/1;
}

.accordion-item__content {
  display: block;
  line-height: 1.75;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.accordion--closed .accordion-item__title * {
  text-decoration: none;
}
.accordion--closed .accordion-item__content {
  display: none;
}

.layout--teammember .team-member__image {
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 5/3;
}
.layout--teammember .team-member__image * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}
.layout--teammember .team-member__name * {
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
  margin-top: 2rem;
}

.layout--object-preview {
  margin-bottom: 10rem;
  overflow-x: auto;
}
.layout--object-preview .object-list {
  position: relative;
}
.layout--object-preview .object-list > .field__items {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  overflow-x: visible;
  padding-bottom: 1rem;
  width: 100%;
  position: relative;
  align-items: stretch;
}
.layout--object-preview .object-list > .field__items::-webkit-scrollbar {
  height: 8px;
}
.layout--object-preview .object-list > .field__items::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.layout--object-preview .object-list > .field__items::after {
  content: "";
  display: block;
  position: relative;
  width: calc(50vw - 50%);
  height: 10px;
  min-width: 50px;
}
@media screen and (max-width: 1200px) {
  .layout--object-preview .object-list > .field__items::after {
    min-width: 30px;
  }
}
@media screen and (max-width: 768px) {
  .layout--object-preview .object-list > .field__items::after {
    min-width: 21px;
  }
}
@media screen and (max-width: 375px) {
  .layout--object-preview .object-list > .field__items::after {
    min-width: 16px;
  }
}
.layout--object-preview .object-list > .field__items > .field__item {
  width: 25%;
  flex: 0 0 auto;
  border: 1px solid black;
}
@media (min-width: 768px) {
  .layout--object-preview .object-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.layout--object-card {
  background: #fff;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}
.card__image {
  width: 100%;
  aspect-ratio: 17/20;
  overflow: hidden;
}
.card__image * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  padding: 1rem;
}
.card__content--number {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.card__content * {
  margin: 0 !important;
}
.card__objnumber, .card__objnumber * {
  font-size: 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}
.card__title, .card__title * {
  color: #004F99;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}
.card__artist, .card__artist * {
  font-size: 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: ">>FONT NAME<<", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 0.5rem !important;
}

.layout--object-preview .layout--object-card {
  border: none;
}

/*# sourceMappingURL=style.css.map */
