.btn,
button, .button--primary {
  border: none;
  background-color: $color-lilac-pale;
  color: $color-black;
  @include transition-all;
  padding: 10px 18px 8px;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  height: auto;
  min-height: 35px;
  width: auto;
  display: table;

  &:disabled,
  &[disabled] {
    opacity: 0.5;
  }

  &:hover {
    @include font-text-bold;
  }
}
