<div class="layout--object-card card">
    <div class="card__image">
        {{ content.img }}
    </div>
    <div class="card__content card__content--number">
        <div class="card__objnumber">{{ content.objnumber }}</div>
    </div>
    <div class="card__content card__content--facts">
        <h3 class="card__title">{{ content.title }}</h3>
        <div class="card__artist">{{ content.artist }}</div>
    </div>
</div>