<h1 class="contactpage__title content-container">Kontakt</h1>
<section class="layout--contactpage content-container grid">
  <div class="contactpage__form">{{ content.form }}</div>
  <div class="contactpage__content">
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum.</p>
  <div class="contactpage__address-wrapper">
  <p class="contactpage__address-title">MarKI Projekt</p>
  <p>Germanisches Nationalmuseum Nürnberg<br>Kornmarkt 1<br>90402 Nürnberg</p>
  <p>E-Mail: <a href="mailto:marki@gnm.de">marki@gnm.de</a></p>
  </div>
  </div>
</section>