<section class="layout--object-preview">
 <div class="object-preview-wrapper content-container">
    <h2 class="sr-only">Ausgewählte Objekte</h2>
    <div class="object-list">{{ content.objects }}</div>
    </div>
</section>