<section class="layout--howtomarki content-container">
  <h1 class="howtomarki__title">{{ content.field_howtomarki_title[0] }}</h1>
  <div class="howtomarki__accordions">{{ content.accordions }}</div>
</section>