<section class="layout--aboutus-teaser">
    <h3>{{ content.headline }}</h3>
    <div class="teaser-content">{{ content.content }}</div>
    <div class="teaser-image">{{ content.img }}</div>
</section>