<div class="home-content grid">
    <div class="home-content__main">
        <h3>{{ content.title }}</h1>
        <div>{{ content.content }}</div>
        </div>
                <div class="home-content__img">
            {{ content.img }}
        </div>
</div>