<div class="page--default">
	<div class="page--default__header grid grid--50-50">
		<div class="page--default__header__title">
			<h1 class="h2">{{ content.title }}</h1>
			<p class="h3-subline">{{ content.subtitle }}</p>
		</div>
		<div class="page--default__header__content">
			{{ content.content }}
		</div>
	</div>
    <div class="page--default__content">
        {{ content.info }}
    </div>
</div>
