<section class="layout--aboutus-teaser content-container">
<div class="aboutus-teaser__wrapper grid">
    <div class="teaser-image">{{ content.img }}</div>
    <div class="teaser-txt">
        <h2>{{ content.headline }}</h2>
        <div class="teaser-content">{{ content.content }}</div>
    </div>
</div>
</section>